@use 'bootstrap/scss/bootstrap' with (
  $theme-colors: (
    'primary': #ff6f61,
    // coral
    'secondary': #5f27cd,
    // purple
    'success': #43a047,
    // deep green
    'info': #00b8d4,
    // bright cyan
    'warning': #ffb300,
    // vivid amber
    'danger': #e53935,
    // strong red
    'light': #f5f6fa,
    // off white
    'dark': #222f3e // navy dark
  )
);
@import 'src/react-website/components/hljs/codeblock.scss';

// Copy button styles from Bootstrap
.btn-copy {
  @extend .btn;
  @extend .btn-sm;
  @extend .gap-2;

  display: inline-flex;
  vertical-align: middle;

  color: #5f27cd;
  background-color: transparent !important;
  border: 1.5px solid #5f27cd;
  transition: background 0.15s, color 0.15s, border 0.15s;
  box-shadow: none;
  &:hover, &:focus {
    background-color: #5f27cd !important;
    color: #fff !important;
    border-color: #5f27cd;
    box-shadow: none;
  }
  &:active {
    background-color: #4326a3 !important;
    color: #fff !important;
    border-color: #4326a3;
    box-shadow: none;
  }
}


[data-bs-theme='dark'] .btn-copy {
  color: #b6aaff;
  background-color: transparent !important;
  border: 1.5px solid #b6aaff;
  &:hover, &:focus {
    background-color: #b6aaff !important;
    color: #222f3e !important;
    border-color: #b6aaff;
  }
  &:active {
    background-color: #6c63b5 !important;
    color: #fff !important;
    border-color: #6c63b5;
  }
}



